<div>

    Width: 
    <select #height (change)="onHeigthChange(height.value)">
            <option *ngFor="let y of selectHeigth(2*64); let value = index" >{{value}}</option>
    </select>
    Heigth: 
    <select #width (change)="onWidthChange(width.value)">
            <option *ngFor="let x of selectWidth(2*64); let value = index" >{{value}}</option>
    </select>
</div>
<table border="1">
    <tr *ngFor="let y of board; let rowIndex = index" 
        height=15>
        <td 
            *ngFor="let x of board[rowIndex]; let columnIndex = index"  
            class ="cell"
            width = 15
            (click)="onCellClick(rowIndex, columnIndex)"
            [ngStyle]="getCurrentStyles(rowIndex, columnIndex)">
        </td>
    </tr>
</table>
<div>
    
    <button mat-raised-button (click)="runStop()">{{(!running) ? 'Start...' : 'Stop!'}}</button>
    Runs: {{count}}
</div>
