<div class="container adventure">
  <div class="row adventure-settings-row">
    <div class="col-md-3">
      <label for="adventure-name">Adventure Name</label>
    </div>
    <div class="col-md-9">
      <input id="adventure-name" class="adventure-input" matInput [(ngModel)]="adventure.name" placeholder="Adventure Name" />
    </div>
  </div>

  <div class="row adventure" *ngFor="let row of adventure.rows">
    <div class="col-md-{{12 / row.cells.length}}" *ngFor="let cell of row.cells">
      <new-adventure-text *ngIf="cell.type === 'text'" [cell]="cell" drag-and-drop (onFileDropped)="onFileDropped($event, cell)"></new-adventure-text>
      <new-adventure-image *ngIf="cell.type === 'image'" [cell]="cell" (onImageDelete)="onImageDelete($event)" drag-and-drop (onFileDropped)="onFileDropped($event, cell)"></new-adventure-image>
    </div>
  </div>
</div>
